dash==0.21.1
dash-renderer==0.12.1
dash-html-components==0.10.1
dash-core-components==0.22.1
numpy==1.14.3
pandas==0.20.3
plotly==2.5.1
flask==1.0.1
gunicorn==19.8.1
scipy==1.0.1
pillow==5.1.0
Flask-Caching==1.4.0
redis==2.10.6
boto3==1.7.48
requests==2.18.4
python-dotenv==0.8.2